/*css geral */
boddy{
    font-family: "Open Sans" sans-serif;
    color: aqua;

}
a{
    color: aqua;
    text-decoration: none;

}
a:hover{
    color: aqua;
    text-decoration: none;

}
h1, h2, h3, h4, h5, h6{
    font-family: "Relaway", sans-serif;

}
.back-to-top{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #149ddd;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;


}
.back-to-top{
    font-size: 28px;
    color: #fff;
    line-height: 0;

}
.back-to-top:hover{
    background: #149ddd;
    color: #fff;

}
.back-to-top.active{
    visibility: visible;
    opacity: 1;

}

/*harder*/
